[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
astor = "*"
tree-sitter = "*"

[dev-packages]

[requires]
python_version = "3.11"
